html { 
    background: url(images/background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container-head{
    display: flex;
    background-color: #0b704e;
    justify-content: space-between;
    flex-flow: row wrap;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    display: flex;
    color: #f9faf8;
    padding-left: 120px;
    font-size: 32px;
    font-weight: bold;
}

.links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding-right: 120px;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: #f9faf8;
    padding: 10px;
}

.sec1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.tag{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: black;
}
.cover{
    border-style: inset;
    border-color: #0b704e;
    border-radius: 8px;
    border-width: 10px;
    
}

.sec2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1;
    justify-content: space-between;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    }

.gallery{
    display: flex;
    color: black;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec3{
    display: flex;
    justify-content: center;
    gap: 10px;
}    

.gimg1{
    border-style: inset;
    border-color: #0b704e;
    border-radius: 8px;
    border-width: 10px;
}


.gimg2{
    border-style: inset;
    border-color: #0b704e;
    border-radius: 8px;
    border-width: 10px;
} 


.gimg3{
    border-style: inset;
    border-color: #0b704e;
    border-radius: 8px;
    border-width: 10px;
}    


.gimg4{
    border-style: inset;
    border-color: #0b704e;
    border-radius: 8px;
    border-width: 10px;
}    

.container-footer{
    display: flex;
    background-color: #0b704e;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 30px;
}

.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f9faf8;
}